<div>
	<div class="row"></div>
	<h2><b>Your new Agent Program</b></h2>
	<section class="text-justify">
		<blockquote class="blockquote-reverse">
			<p>An <b>agent</b> is anything that can be viewed as perceiving its environment through sensors and acting upon that environment through actuators. We use the term <b>percept</b> to refer to the agent's perceptual inputs at any given instant. Mathematically speaking, we say that an agent's behavior is described by the <b>agent function</b> that maps any given percept sequence to an action. Internally, the agent function for an artificial agent will be implemented by an <b>agent program</b>.</p>
			<footer>Artificial Intelligence: A Modern Approach (Third edition) by Stuart Russell and Peter Norvig</footer>
		</blockquote>
	</section>
	<br>
	<div class="container-fluid">
		<div class="row text-left">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="row">
					<label class="lead "><b>1.</b> Give your Agent Program a name.</label>
					<input type="text" class="form-control" ng-model="apnc.agent_prog.name" ng-change="apnc.nameUpdate()" placeholder="Name" maxlength="128">
				</div>
				<div class="separator"></div>
			</div>
		</div>
		<div class="row text-left">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="row ">
				<label class="lead"><b>2.</b> Agent will be controlled by...</label>
					<div class="btn-group btn-group-justified">
						<label class="btn btn-default" ng-model="apnc.agent_prog.ai" btn-radio="true" tooltip-placement="left" tooltip="">Algorithm</label>
						<label class="btn btn-default" ng-model="apnc.agent_prog.ai" btn-radio="false" tooltip-placement="right" tooltip="">Human</label>
					</div>
				</div>
				<div class="panel panel-default animate-only-show" ng-show="apnc.agent_prog.ai">
					<div class="panel-heading">Written in...</div>
					<div class="panel-body text-center">
						<div class="btn-group">
							<label class="btn btn-default" ng-model="apnc.agent_prog.javascript" btn-radio="true" tooltip-placement="left" tooltip="">JavaScript</label>
							<label class="btn btn-default" ng-model="apnc.agent_prog.javascript" btn-radio="false" tooltip-placement="right" tooltip="">Another language</label>
						</div>
					</div>
				</div>
				<div class="panel panel-default animate-only-show" ng-hide="apnc.agent_prog.ai">
					<div class="panel-heading">Using a...</div>
					<div class="panel-body text-center">
						<div class="btn-group">
							<label class="btn btn-default" ng-model="apnc.agent_prog.keyboard" btn-radio="true" tooltip-placement="left" tooltip="">Keyboard</label>
							<label class="btn btn-default" ng-model="apnc.agent_prog.keyboard" btn-radio="false" tooltip-placement="right" tooltip="">Remote Control</label>
						</div>
					</div>
				</div>
				<div class="panel panel-default animate-show-3d-top" ng-show="(apnc.agent_prog.ai && !apnc.agent_prog.javascript) || (!apnc.agent_prog.ai && !apnc.agent_prog.keyboard)">
					<div class="panel-body">
						<label class="lead">T-World proxy <small>(<a href="resrc/twproxy.zip">download it</a>)<small></label>
						<br>
						<label for="ip-address">IP Address</label><input type="text" id="ip-address" class="form-control" ng-model="apnc.agent_prog.socket.ip_address" placeholder="IPv4 Address">
						<br>
						<label for="port">Port</label><input type="number" id="port" min="1" max="65535" class="form-control" ng-model="apnc.agent_prog.socket.port" placeholder="Port number"></input>
						<br>
						<label for="magic-string">The magic string</label><input type="text" id="magic-string" class="form-control" ng-model="apnc.agent_prog.socket.magic_string" placeholder="Magic string" value="localhost" maxlength="128">
						<br>
						<div ng-show="apnc.agent_prog.ai" class="panel panel-default animate-show">
							<div class="panel-heading"><b>Perception</b></div>

							<div class="panel-body">
								<div class="container-fluid">
									<div class="row">
										<label>Percept-action relationship</label>

										<div class="btn-group btn-group-justified">
											<label class="btn btn-default" ng-model="apnc.agent_prog.percept.sync" btn-radio="true" tooltip="percept-action pattern (recommended)">Synchronously</label>
											<label class="btn btn-default" ng-model="apnc.agent_prog.percept.sync" btn-radio="false" tooltip="percept is send periodically. Advanced mode">Asynchronously</label>
										</div>

										<div class="list-group animate-show-3d-top" ng-hide="apnc.agent_prog.percept.sync">
											<a class="list-group-item no-animation">
												<label>Percept will be sent every {{apnc.agent_prog.percept.interval}} milliseconds</label>
												<div class="ui-slider-size" ui-slider min="10" max="1000" step="1" ng-model="apnc.agent_prog.percept.interval"></div>
											</a>
										</div>
									</div>
									<div class="row">
										<label>Format</label>
										<select class="form-control" ng-model="apnc.agent_prog.socket.percept_format" ng-options="value as format|nounderscore for (format, value) in apnc.PERCEPT_FORMAT"></select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default animate-show-3d-top text-center" ng-show="!apnc.agent_prog.ai && apnc.agent_prog.keyboard">
					<div class="panel-body">
						<label class="lead text-left">Controls</label>
						<br>
						<span>
							<button class="btn btn-default" ng-click="apnc.readKey('Up')">
								Up<br>
								<small class="text-blue">({{apnc.agent_prog.controls.Up | keyboard_key}})</small>
							</button>
						</span>
						<button class="btn btn-default" ng-click="apnc.readKey('Down')">
							Down<br>
							<small class="text-blue">({{apnc.agent_prog.controls.Down | keyboard_key}})</small>
						</button>
						<button class="btn btn-default" ng-click="apnc.readKey('Left')">
							Left<br>
							<small class="text-blue">({{apnc.agent_prog.controls.Left | keyboard_key}})</small>
						</button>
						<button class="btn btn-default" ng-click="apnc.readKey('Right')">
							Right<br>
							<small class="text-blue">({{apnc.agent_prog.controls.Right | keyboard_key}})</small>
						</button>
						<button class="btn btn-default" ng-click="apnc.readKey('Restore')">
							Battery restoration<br>
							<small class="text-blue">({{apnc.agent_prog.controls.Restore | keyboard_key}})</small>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="separator"></div>
				<div class="row text-left">
					<label class="lead "><b>3.</b> Optionally, write something about your Agent Program.</label>
					<textarea class="form-control" ng-model="apnc.agent_prog.desc" rows="5" placeholder="Description"></textarea>
				</div>
				<div class="separator"></div>
			</div>
		</div>
		<button ng-click="apnc.save()" class="btn btn-success col-xs-offset-1 col-md-2 col-xs-3 pull-right">Save</button>
	</div>
</div>

<script type="text/ng-template" id="read-key.html">
	<div class="modal-body text-center">
		<h3>Press a key</h3>
	</div>
</script>