<div class="text-left">
	<div class="row"></div>
	<div class="row">
		<div id="editor" class="panel panel-primary" ng-class="{'full-screen':apscc.fullScreen}">
			<div class="panel-heading">{{apscc.agent_prog.name}}</div>
			<div class="panel-body no-padding">
				<button ng-click="apscc.toggleFullScreen()" ng-class="{'glyphicon-resize-small':apscc.fullScreen,'glyphicon-resize-full':!apscc.fullScreen}" class="btn btn-default glyphicon glyphicon pull-right margin-10" tooltip="Maximaze/Restore"></button>
				<button id="save" class="btn btn-success glyphicon pull-right margin-10" ng-class="{'disabled glyphicon-floppy-saved':apscc.saved, 'glyphicon-floppy-save':!apscc.saved}" ng-click="apscc.save()" tooltip="Save"></button>
				<button ng-click="apscc.run()" class="btn btn-primary glyphicon glyphicon-play pull-right margin-10" tooltip="Run agent program"></button>
				<span class="pull-right cursor-pointer margin-10" ng-click="apscc.openEnvironmentsModal()" tooltip="Select task environment">
					<b>
						<span ng-if="apscc.task_env.name" class="text-blue"> {{apscc.task_env.name}}</span>
						<span ng-if="!apscc.task_env.name" class="text-red"> (empty)</span>
					</b>
				</span>
				<span class="pull-right margin-10">Task Environment:</span>
				<div id="source-code"></div>
			</div>
		</div>
	</div>
</div>
