<div class="container-fluid text-left">
	<div class="row">
		<div class="col-md-2" style="padding-right:40px">
			<!--Sidebar content-->

			<button class="btn btn-primary" ng-click="twc.goto('/agent-programs/new')">New Agent Program</button>

			<hr>

			Filter by name: <input class="form-control" ng-model="apc.query.name">

			<div class="checkbox">
				<label><input type="checkbox" ng-model="apc.allProps"> All properties</label>
			</div>

			<div class="animate-show-3d-top" ng-hide="apc.allProps">
				<b>Only Agent Programs that are:</b>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-eye-open" ng-model="apc.query.prop.fullyObservable" btn-radio="true" tooltip="Fully Observable"></label>
					<label class="btn btn-default glyphicon glyphicon-eye-close" ng-model="apc.query.prop.fullyObservable" btn-radio="false" tooltip="Partially Observable"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default" ng-model="apc.query.prop.multiagent" btn-radio="false" tooltip="Single agent"><img src="imgs/web-app/icon-single-agent.png"></label>
					<label class="btn btn-default" ng-model="apc.query.prop.multiagent" btn-radio="true" tooltip="Multiagent"><img src="imgs/web-app/icon-multiagent.png"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-arrow-right" ng-model="apc.query.prop.deterministic" btn-radio="true" tooltip="Deterministic"></label>
					<label class="btn btn-default glyphicon glyphicon-random" ng-model="apc.query.prop.deterministic" btn-radio="false" tooltip="Stochastic"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-record" ng-model="apc.query.prop.dynamic" btn-radio="0" tooltip="Static"></label>
					<label class="btn btn-default" ng-model="apc.query.prop.dynamic" btn-radio="1" tooltip="Semidynamic"><img src="imgs/web-app/icon-semidynamic.png"></label>
					<label class="btn btn-default glyphicon glyphicon-time" ng-model="apc.query.prop.dynamic" btn-radio="2" tooltip="Dynamic"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-ok" ng-model="apc.query.prop.known" btn-radio="true" tooltip="Known"></label>
					<label class="btn btn-default glyphicon glyphicon-remove" ng-model="apc.query.prop.known" btn-radio="false" tooltip="Unknown"></label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="apc.query.battery"> Battery</label>
				</div>
			</div>

			Sort by:
			<select class="form-control" ng-model="apc.orderCond">
				<option value="name">Alphabetical</option>
				<option value="-date">Newest</option>
			</select>
		</div>
		<div class="col-md-10">
		<h2>Agent Programs</h2>
		<!--Body content-->
		<div class="list-group mouse-cursor" style="min-height: 300px">
			<a class="list-group-item animate-filter transition-400" ng-repeat="ap in apc.agentPrograms | filter:apc.userFilter | orderBy:apc.orderCond track by $index" ng-click="apc.setSelected(ap.date)" ng-dblclick="twc.goto('/agent-programs/source-code/'+ap.date)" ng-class="{active:apc.isSelected(ap.date)}">
				<!-- PROPERTIES ICONS-->
				<div class="pull-right text-gray">
					<div class="glyphicon glyphicon-eye-open" ng-show="ap.prop.fullyObservable" tooltip="Fully observable"></div>
					<div class="glyphicon glyphicon-eye-close" ng-hide="ap.prop.fullyObservable" tooltip="Partially observable"></div>

					<div class="solid-icon-16 icon-single-agent" ng-hide="ap.prop.multiagent" tooltip="Single agent"></div>
					<div class="solid-icon-16 icon-multiagent" ng-show="ap.prop.multiagent" tooltip="Multiagent"></div>

					<div class="glyphicon glyphicon-arrow-right" ng-show="ap.prop.deterministic" tooltip="Deterministic"></div>
					<div class="glyphicon glyphicon-random" ng-hide="ap.prop.deterministic" tooltip="Stochastic"></div>

					<div class="glyphicon glyphicon-record" ng-show="ap.prop.dynamic == 0" tooltip="Static"></div>
					<div class="solid-icon-16 icon-semidynamic" ng-show="ap.prop.dynamic == 1" tooltip="Semidynamic"></div>
					<div class="glyphicon glyphicon-time" ng-show="ap.prop.dynamic == 2" tooltip="Dynamic"></div>

					<div class="glyphicon glyphicon-ok" ng-show="ap.prop.known" tooltip="Known"></div>
					<div class="glyphicon glyphicon-remove" ng-hide="ap.prop.known" tooltip="Unknown"></div>

					<div class="glyphicon glyphicon-flash" ng-show="ap.battery" tooltip="Battery"></div>
				</div>

				<h4 class="list-group-item-heading">{{ap.name}} <span class="badge active">{{ap.date | date:'dd/MM/yyyy - HH:mm:ss'}}</span></h4>
				<p class="list-group-item-text">{{ap.desc}}</p>


				<div class="row panel-body">
					<br>
					<div class="pull-right animate-only-show" ng-show="apc.isSelected(ap.date)">
						<button class="btn btn-success glyphicon glyphicon-list-alt" ng-click="twc.goto('/agent-programs/source-code/'+ap.date)" ng-if="apc.editor(ap)"></button>
						<button class="btn btn-success glyphicon glyphicon-play" ng-click="apc.run()" ng-if="!apc.editor(ap)"></button>
						<button class="btn btn-info glyphicon glyphicon-list"></button>
						<button class="btn btn-danger glyphicon glyphicon-remove" ng-click="apc.remove()"></button>
					</div>
				</div>
			</a>
		</div>
		<div class="separator"></div>
		</div>
	</div>
</div>