<div class="container-fluid">
	<h2>Environment</h2>
	<div class="text-left">
		<label>Grid dimensions:</label>
		<div class="row">
			<div class="col-md-3 col-xs-3">
				<input type="number" class="form-control" ng-model="enc.task_env.environment.rows" ng-change="enc.updateDimensions()" min="3" max="20" ng-pattern="/^\d+$/" placeholder="Rows" required>
			</div>
			<div class="col-md-3 col-xs-3">
				<input type="number" class="form-control" ng-model="enc.task_env.environment.columns" ng-change="enc.updateDimensions()" min="3" max="20" ng-pattern="/^\d+$/" placeholder="Columns" required>
			</div>
		</div>
		<br>

		<!-- INITIAL RADIO BUTTONS -->
		<div class="row " ng-hide="enc.isDynamic()">
			<div class="btn-group btn-group-justified">
				<label class="btn btn-default" ng-model="enc.task_env.environment.random_initial_state" btn-radio="false" tooltip="Draw the initial state on the grid below">User-defined initial state</label>
				<label class="btn btn-default" ng-model="enc.task_env.environment.random_initial_state" btn-radio="true" tooltip="Inital state is randomly generated every execution">Random initial state</label>
			</div>
		</div>

		<!-- INITIAL STATE -->
		<div class="panel panel-default animate-only-show" ng-controller="InitialStateMakerController as ismc" ng-hide="enc.isDynamic() || enc.task_env.environment.random_initial_state">
			<div class="panel-body text-center">
				<div class="row">
					<div class="btn-group btn-group">
						<label class="btn btn-default" ng-model="ismc.selected" btn-radio="'A'" tooltip-placement="top" tooltip="Agent">A</label>
						<label class="btn btn-default" ng-model="ismc.selected" btn-radio="'#'" tooltip-placement="top" tooltip="Obstacle">#</label>
						<label class="btn btn-default" ng-model="ismc.selected" btn-radio="' '" tooltip-placement="top" tooltip="Empty cell">_</label>
						<label class="btn btn-default" ng-model="ismc.selected" btn-radio="'T'" tooltip-placement="top" tooltip="Tile">T</label>
						<label class="btn btn-default" ng-model="ismc.selected" btn-radio="'C'" tooltip-placement="top" tooltip="Battery Charger" ng-show="enc.task_env.battery">C</label>
						<label class="btn btn-default" ng-model="ismc.selected" btn-radio="ismc.holeId" ng-dblclick="ismc.nextHoleId()" tooltip-placement="top" tooltip="Hole Cell (doble-click to change id)">{{ismc.holeId}}</label>
					</div>
				</div>
				<br>
				<table class="no-selection">
					<tr ng-repeat="row in ismc.grid track by $index" style="height:23px;">
						<td ng-repeat="cell in row track by $index" ng-mouseenter="ismc.setCell(row, $index)" ng-mousedown="ismc.mouseDown(row, $index)" ng-mouseup="ismc.mouseUp()" style="width:23px;">{{cell}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="panel panel-default animate-only-show" ng-show="enc.isDynamic()||enc.task_env.environment.random_initial_state">
			<div class="panel-body">
				<label>Hole size (closed interval: {{enc.task_env.environment.holes_size.range}})</label>
				<div class="row">
					<div class="col-md-10 col-xs-10">
						<div class="ui-slider-size" ui-slider="{range: true}" min="1" max="20" ng-model="enc.task_env.environment.holes_size.range"></div>
					</div>
					<div class="col-md-1 col-xs-10">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.holes_size.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.holes_size)"></button>
					</div>
				</div>
				<br>
				<label>Number of Holes (closed interval: {{enc.task_env.environment.num_holes.range}})</label>
				<div class="row">
					<div class="col-md-10 col-xs-10">
						<div class="ui-slider-size" ui-slider="{range: true}" min="0" max="20" ng-model="enc.task_env.environment.num_holes.range"></div>
					</div>
					<div class="col-md-1 col-xs-10">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.num_holes.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.num_holes)"></button>
					</div>
				</div>
				<br>
				<label>Number of obstacles (closed interval: {{enc.task_env.environment.num_obstacles.range}})</label>
				<div class="row">
					<div class="col-md-10 col-xs-10">
						<div class="ui-slider-size" ui-slider="{range: true}" min="0" max="20" ng-model="enc.task_env.environment.num_obstacles.range"></div>
					</div>
					<div class="col-md-1 col-xs-10">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.num_obstacles.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.num_obstacles)"></button>
					</div>
				</div>
				<br>
				<label>Distance of tile from hole cell (closed interval: {{enc.task_env.environment.difficulty.range}})</label>
				<div class="row">
					<div class="col-md-10 col-xs-10">
						<div class="ui-slider-size" ui-slider="{range: true}" min="0" max="20" ng-model="enc.task_env.environment.difficulty.range"></div>
					</div>
					<div class="col-md-1 col-xs-10">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.difficulty.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.difficulty)"></button>
					</div>
				</div>
			</div>
		</div><br>

		<div class="panel panel-default" ng-show="enc.isDynamic()">
			<div class="panel-heading">Dynamism knobs</div>
			<div class="panel-body">
				<label>Dynamism (closed interval: {{enc.task_env.environment.dynamic.dynamism.range}})</label>
				<div class="row">
					<div class="col-md-10 col-xs-10">
						<div class="ui-slider-size" ui-slider="{range: true}" min="1" max="60" ng-model="enc.task_env.environment.dynamic.dynamism.range"></div>
					</div>
					<div class="col-md-1 col-xs-10">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.dynamic.dynamism.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.dynamic.dynamism)"></button>
					</div>
				</div>
				<br>
				<label>Hostility (closed interval: {{enc.task_env.environment.dynamic.hostility.range}})</label>
				<div class="row">
					<div class="col-md-10 col-xs-10">
						<div class="ui-slider-size" ui-slider="{range: true}" min="1" max="60" ng-model="enc.task_env.environment.dynamic.hostility.range"></div>
					</div>
					<div class="col-md-1 col-xs-10">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.dynamic.hostility.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.dynamic.hostility)"></button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="enc.task_env.environment.dynamic.hard_bounds"> Hard bounds.</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-xs-6">
				<label>Variability of scores ({{(enc.task_env.environment.scores_variability*100).toFixed(1)}}%)</label><div class="ui-slider-size" ui-slider min="0" max="1" step="0.001" use-decimals ng-model="enc.task_env.environment.scores_variability"></div>
			</div>
		</div>
		<br>
		<div class="row" ng-show="enc.isSemidynamic()">
			<section ng-if="enc.isDeterministic()">
				<label>Scores associated with holes decay in value every {{enc.task_env.environment.dynamic.dynamism.range[0]}} seconds</label>
				<div class="col-md-6 col-xs-6">
					<div class="ui-slider-size" ui-slider min="1" max="60" step="1" ng-model="enc.task_env.environment.dynamic.dynamism.range[0]" ng-change="enc.task_env.environment.dynamic.dynamism.range[1] = enc.task_env.environment.dynamic.dynamism.range[0]"></div>
				</div>
			</section>
			<section ng-if="!enc.isDeterministic()">
				<label>Scores associated with holes decay in value within {{enc.task_env.environment.dynamic.dynamism.range}} seconds</label>
				<div class="col-md-6 col-xs-6">
					<div class="ui-slider-size" ui-slider="{range: true}" min="1" max="60" step="1" ng-model="enc.task_env.environment.dynamic.dynamism.range"></div>
				</div>
				<div class="col-md-1">
						<button class="btn btn-default glyphicon glyphicon-stats" ng-show="enc.isRange(enc.task_env.environment.dynamic.dynamism.range)" ng-click="enc.openProbDistModal(enc.task_env.environment.dynamic.dynamism)"></button>
					</div>
			</section>
			<br><br><br>
		</div>

		<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">Final State/T-World ends when...</div>
			<div class="panel-body text-center">
				<div class="animate-filter" ng-repeat="cond in enc.task_env.environment.final_state">
					<div class="row">
						<label class="col-md-2">{{cond.name}}</label>
						<input type="number" class=" col-md-2" ng-model="cond.value" min="0" required ng-pattern="/^\d+$/">
						<label class="col-md-2 col-xs-2">Game Result</label>
						<div class="col-md-5 col-xs-5">
							<select class="form-control" ng-model="cond.result">
								<option value="0">neutral (show positions)</option>
								<option value="1">success</option>
								<option value="2">failure</option>
							</select>
						</div>
						<button class="btn btn-danger glyphicon glyphicon-remove" ng-click="enc.removeFinalStateCondition($index)"></button>
					</div>
					<hr/>
				</div>
				<button ng-click="enc.openEndConditionsModal('sm')" ng-disabled="!enc.end_game_cond.length" class="btn btn-success">Add Condition</button>
			</div>
		</div>
		</div>

	</div>
</div>

<script type="text/ng-template" id="end_game_cond.html">
	<div class="modal-header">
		<h3 class="modal-title">Click on a condition to add it</h3>
	</div>
	<div class="modal-body">
		<button class="btn label label-default" ng-repeat="cond in end_game_cond" ng-if="visible(cond)" ng-click="ok($index)">{{ cond.name }}</button>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="prob_distrib.html">
	<div class="modal-header">
		<h3 class="modal-title">Probability distribution</h3>
	</div>
	<div class="panel text-center">
		<div class="panel-body">
			<div class="prob-bar">
				<div class="ui-slider-size vertical axis ui-slider ui-widget ui-widget-content ui-corner-all ui-slider-vertical"></div>
				{{knob.range[0]}}
			</div>
			<div class="prob-bar" ng-repeat="prob in knob.prob track by $index">
				<div class="ui-slider-size vertical" ui-slider="slider_options" min="0" max="1000" ng-model="knob.prob[$index]"></div>
			</div>
			{{knob.range[1]}}
		</div>
	</div>
</script>