<div>
	<div class="row"></div>
	<form name="newEnvironment1Form" role="form">

		<properties ng-show="enc.isStep(0)"></properties>

		<div class="container-fluid" ng-show="!enc.isStep(0)">

			<ul class="nav nav-tabs nav-stacked col-md-2 col-xs-2">
				<li class="active" ng-class="{'animate-zoom-loop':enc.isStep(1)}"><a>1</a></li>
				<li class="active" ng-class="{'animate-zoom-loop':enc.isStep(2)}"><a>2</a></li>
				<li class="active" ng-class="{'animate-zoom-loop':enc.isStep(3)}"><a>3</a></li>
				<li class="active" ng-class="{'animate-zoom-loop':enc.isStep(4)}"><a>4</a></li>
				<li class="active" ng-class="{'animate-zoom-loop':enc.isStep(5)}"><a>5</a></li>
				<li class="active" ng-class="{'animate-zoom-loop':enc.isStep(6)}"><a>6</a></li>
			</ul>

			<div class="panel">
				<step1 ng-show="enc.isStep(1)"></step1>
				<step2 ng-show="enc.isStep(2)"></step2>
				<step3 ng-show="enc.isStep(3)"></step3>
				<step4 ng-show="enc.isStep(4)"></step4>
				<step5 ng-show="enc.isStep(5)"></step5>
				<step6 ng-show="enc.isStep(6)"></step6>
			</div>

		</div>
		<div class="row">
			<hr/>
			<button ng-click="enc.prevStep()" ng-hide="enc.isStep(0)" class="btn btn-success col-md-2 col-xs-3 pull-left">Previous</button>
			<button ng-click="enc.nextStep()" class="btn btn-success col-md-2 col-xs-3 pull-right">Next</button>
		</div>
	</form>
</div>
