<h2>Perception</h2>

<div class="panel panel-default solid">
	<div class="panel-body">

		<div ng-hide="enc.task_env.prop.fullyObservable">

				<p class="lead">Partially observable because of...</p>

				<div class="container">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="enc.task_env.agents.percept.partialGrid"> Visibility bounds.</label>
					</div>
					<div class="list-group col-md-4 animate-show-3d-top" ng-show="enc.task_env.agents.percept.partialGrid">
						<a class="list-group-item no-animation">
							<label>{{enc.getTextVisibilityRadius()}}</label>
							<div class="ui-slider-size" ui-slider min="0" max="20" step="1" ng-model="enc.task_env.agents.percept.radius"></div>
						</a>
					</div>
				</div>

				<div class="container">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="enc.task_env.agents.percept.noise"> Noisy and inaccurate sensors.</label>
					</div>
					<div class="list-group col-md-4 animate-show-3d-top" ng-show="enc.task_env.agents.percept.noise">

						<a class="list-group-item no-animation">
							<label>Holes noise ({{(enc.task_env.agents.percept.noise_cfg.hole*100).toFixed(1)}}%)</label>
							<div class="ui-slider-size" ui-slider min="0" max="1" step="0.001" use-decimals ng-model="enc.task_env.agents.percept.noise_cfg.hole"></div>
						</a>

						<a class="list-group-item no-animation">
							<label>Tiles noise ({{(enc.task_env.agents.percept.noise_cfg.tile*100).toFixed(1)}}%)</label>
							<div class="ui-slider-size" ui-slider min="0" max="1" step="0.001" use-decimals ng-model="enc.task_env.agents.percept.noise_cfg.tile"></div>
						</a>

						<a class="list-group-item no-animation">
							<label>Obstacles noise ({{(enc.task_env.agents.percept.noise_cfg.obstacle*100).toFixed(1)}}%)</label>
							<div class="ui-slider-size" ui-slider min="0" max="1" step="0.001" use-decimals ng-model="enc.task_env.agents.percept.noise_cfg.obstacle"></div>
						</a>
					</div>
				</div>

			<hr>
		</div>

		<p class="lead">How do you want T-World to handle percept-action relationship?</p>

		<div class="col-md-6">
			<div class="btn-group btn-group-justified">
				<label class="btn btn-default" ng-model="enc.task_env.agents.percept.sync" btn-radio="true" tooltip="percept-action pattern (recommended)">Synchronously</label>
				<label class="btn btn-default" ng-model="enc.task_env.agents.percept.sync" btn-radio="false" tooltip="percept is send periodically. Advanced mode">Asynchronously</label>
			</div>
		</div>

		<div class="list-group col-md-4 animate-show-3d-left" ng-hide="enc.task_env.agents.percept.sync">
			<a class="list-group-item no-animation">
				<label>Percept will be sent every {{enc.task_env.agents.percept.interval}} milliseconds</label>
				<div class="ui-slider-size" ui-slider min="10" max="1000" step="1" ng-model="enc.task_env.agents.percept.interval"></div>
			</a>
		</div>

	</div>
</div>
