<div class="container-fluid text-left">
	<div class="row">
		<button class="btn btn-danger glyphicon glyphicon-remove pull-right margin-10" ng-click="close()"></button>
	</div>
	<div class="row">
		<div class="col-md-3" style="padding-right:40px">
			<!--Sidebar content-->

			Filter by name: <input class="form-control" ng-model="query.name">

			<div class="checkbox" ng-if="environments">
				<label><input type="checkbox" ng-model="query.allProps"> All properties</label>
			</div>

			<div class="animate-show-3d-top" ng-hide="query.allProps">
				<b>{{text.filter}}</b>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-eye-open" ng-model="query.prop.fullyObservable" btn-radio="true" title="Fully Observable"></label>
					<label class="btn btn-default glyphicon glyphicon-eye-close" ng-model="query.prop.fullyObservable" btn-radio="false" title="Partially Observable"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default" ng-model="query.prop.multiagent" btn-radio="false" title="Single agent"><img src="imgs/web-app/icon-single-agent.png"></label>
					<label class="btn btn-default" ng-model="query.prop.multiagent" btn-radio="true" title="Multiagent"><img src="imgs/web-app/icon-multiagent.png"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-arrow-right" ng-model="query.prop.deterministic" btn-radio="true" title="Deterministic"></label>
					<label class="btn btn-default glyphicon glyphicon-random" ng-model="query.prop.deterministic" btn-radio="false" title="Stochastic"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-record" ng-model="query.prop.dynamic" btn-radio="0" title="Static"></label>
					<label class="btn btn-default" ng-model="query.prop.dynamic" btn-radio="1" title="Semidynamic"><img src="imgs/web-app/icon-semidynamic.png"></label>
					<label class="btn btn-default glyphicon glyphicon-time" ng-model="query.prop.dynamic" btn-radio="2" title="Dynamic"></label>
				</div>
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default glyphicon glyphicon-ok" ng-model="query.prop.known" btn-radio="true" title="Known"></label>
					<label class="btn btn-default glyphicon glyphicon-remove" ng-model="query.prop.known" btn-radio="false" title="Unknown"></label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-model="query.battery"> Battery</label>
				</div>
			</div>

			Sort by:
			<select class="form-control" ng-model="orderCond">
				<option value="name">Alphabetical</option>
				<option value="-date">Newest</option>
			</select>
		</div>
		<div class="col-md-9">
			<h2>{{text.title}}</h2>
			<!--Body content-->
			<div class="list-group mouse-cursor" style="min-height: 300px">
				<a class="list-group-item animate-filter transition-400" ng-repeat="item in items | filter:userFilter | orderBy:orderCond track by $index" ng-click="setSelected(item.date)" ng-dblclick="ok()" ng-class="{active:isSelected(item.date)}">
					<!-- PROPERTIES ICONS-->
					<div class="pull-right text-gray" ng-if="environments">
						<div class="glyphicon glyphicon-eye-open" ng-show="item.prop.fullyObservable" title="Fully observable"></div>
						<div class="glyphicon glyphicon-eye-close" ng-hide="item.prop.fullyObservable" title="Partially observable"></div>

						<div class="solid-icon-16 icon-single-agent" ng-hide="item.prop.multiagent" title="Single agent"></div>
						<div class="solid-icon-16 icon-multiagent" ng-show="item.prop.multiagent" title="Multiagent"></div>

						<div class="glyphicon glyphicon-arrow-right" ng-show="item.prop.deterministic" title="Deterministic"></div>
						<div class="glyphicon glyphicon-random" ng-hide="item.prop.deterministic" title="Stochastic"></div>

						<div class="glyphicon glyphicon-record" ng-show="item.prop.dynamic == 0" title="Static"></div>
						<div class="solid-icon-16 icon-semidynamic" ng-show="item.prop.dynamic == 1" title="Semidynamic"></div>
						<div class="glyphicon glyphicon-time" ng-show="item.prop.dynamic == 2" title="Dynamic"></div>

						<div class="glyphicon glyphicon-ok" ng-show="item.prop.known" title="Known"></div>
						<div class="glyphicon glyphicon-remove" ng-hide="item.prop.known" title="Unknown"></div>

						<div class="glyphicon glyphicon-flash" ng-show="item.battery" title="Battery"></div>
					</div>

					<h4 class="list-group-item-heading">{{item.name}} <span class="badge active">{{item.date | date:'dd/MM/yyyy - HH:mm:ss'}}</span></h4>
					<p class="list-group-item-text">{{item.desc}}</p>
				</a>
			</div>
			<div class="separator"></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success glyphicon glyphicon-ok margin-10 pull-right" ng-click="ok()"></button>
	</div>
</div>