<!-- MAIN MENU -->
<div>
	<div class="row"></div>
	<div class="row text-center">
		<div class="col-md-1"></div>
		<div class="col-md-5 panel-body" ng-mouseenter="mmc.setActive(0)" ng-mouseleave="mmc.leave()">
			<span class="glyphicon glyphicon-th" style="font-size: 59px;" ng-class="{ 'animate-zoom-loop':mmc.isActive(0), 'animate-zoom-loop-end':!mmc.isActive(0)}"></span>
			<h2 ng-bind-html="twc.text.menu.envs"></h2>
			<p ng-bind-html="twc.text.menu.envs.desc"></p>
			<button class="btn btn-default" ng-bind-html="twc.text.menu.envs.btn_new" ng-click="twc.goto('/environments/new')"></button>
			<button class="btn btn-default" ng-bind-html="twc.text.menu.envs.btn_mng" ng-click="twc.goto('/environments/manager')"></button>
			<div class="separator"></div>
		</div>
		<div class="col-md-5 panel-body" style="border-right: 2px solid #f5f5f5;" ng-mouseenter="mmc.setActive(1)" ng-mouseleave="mmc.leave()">
			<img src="imgs/web-app/rob_face.png" ng-class="{ 'animate-zoom-loop':mmc.isActive(1), 'animate-zoom-loop-end':!mmc.isActive(1)}"><br>
			<h2 ng-bind-html="twc.text.menu.aps"></h2>
			<p ng-bind-html="twc.text.menu.aps.desc"></p>
			<button class="btn btn-default" ng-bind-html="twc.text.menu.aps.btn_new" ng-click="twc.goto('/agent-programs/new')"></button>
			<button class="btn btn-default" ng-bind-html="twc.text.menu.aps.btn_mng" ng-click="twc.goto('/agent-programs/manager')"></button>
			<div class="separator"></div>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row text-center" style="margin-top:1px">
		<div class="container-fluid">
			<div class="col-md-4"></div>
			<div class="col-md-4 panel-body" ng-mouseenter="mmc.setActive(2)" ng-mouseleave="mmc.leave()">
				<span class="glyphicon glyphicon-stats" style="font-size: 59px;" ng-class="{ 'animate-zoom-loop':mmc.isActive(2), 'animate-zoom-loop-end':!mmc.isActive(2)}"></span>
				</span><h2 ng-bind-html="twc.text.menu.sts"></h2>
				<p ng-bind-html="twc.text.menu.sts.desc"></p>
				<button class="btn btn-default" ng-bind-html="twc.text.menu.sts.btn_view" ng-click="twc.goto('/stats')"></button>
				<div class="separator"></div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row text-center">
			<div class="col-md-1"></div>
			<div class="col-md-5 panel-body" ng-mouseenter="mmc.setActive(3)" ng-mouseleave="mmc.leave()">
				<span class="glyphicon glyphicon-wrench" style="font-size: 59px;" ng-class="{ 'animate-zoom-loop':mmc.isActive(3), 'animate-zoom-loop-end':!mmc.isActive(3)}"></span>
				<h2 ng-bind-html="twc.text.menu.set"></h2>
				<p ng-bind-html="twc.text.menu.set.desc"></p>
				<button class="btn btn-default" ng-bind-html="twc.text.menu.set.btn_view" ng-click="twc.goto('/settings')"></button>
				<div class="separator"></div>
			</div>
			<div class="col-md-5 panel-body" style="border-right: 2px solid #f5f5f5;" ng-mouseenter="mmc.setActive(4)" ng-mouseleave="mmc.leave()">
				<span class="glyphicon glyphicon-book" style="font-size: 59px;" ng-class="{ 'animate-zoom-loop':mmc.isActive(4), 'animate-zoom-loop-end':!mmc.isActive(4)}"></span>
				<h2 ng-bind-html="twc.text.menu.doc"></h2>
				<p ng-bind-html="twc.text.menu.doc.desc"></p>
				<button class="btn btn-default" ng-bind-html="twc.text.menu.doc.btn_read" ng-click="twc.goto('/documentation')"></button>
				<div class="separator"></div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<hr/>
	<div class="row panel-body" style="margin-top: 20px;">
		<div class="container-fluid">
			<div class="col-md-4"></div>
			<div class="col-md-4 panel-body">
				<button id="startBtn" class="btn btn-success btn-lg btn-block" ng-disabled="mmc.tworldWindow" ng-bind-html="twc.text.menu.btn_start" ng-mouseenter="mmc.startEnter()" ng-mouseleave="mmc.startLeave()" ng-click="mmc.startTWorld()" ng-class="{ 'animate-zoom-out':mmc.isOnStart(), 'animate-zoom-in':!mmc.isOnStart()}"></button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>