<div class="container-fluid text-left">
	<div class="row">
		<div class="col-md-2" style="padding-right:40px">
			<!--Sidebar content-->

			<b>Sort by:</b> <button class="btn btn-default glyphicon" ng-model="sc.orderCond" btn-checkbox btn-checkbox-true="'-date'" btn-checkbox-false="'date'" ng-class="{'glyphicon-sort-by-attributes-alt':sc.orderCond=='-date', 'glyphicon-sort-by-attributes':sc.orderCond=='date'}" tooltip="Newest/Oldest"></button>
			<br><hr>

			<b>Filter:</b><br><br>

			Task Environment:
			<label class="cursor-pointer">
				<button class="btn btn-primary glyphicon glyphicon-pencil btn-sm" ng-click="sc.selectTaskEnvironment()"></button>
				<span ng-if="sc.task_env" class="text-blue"> {{sc.task_env.name|stringLimit:20}}</span>
				<span ng-if="!sc.task_env" class="text-red"> (empty)</span>
			</label>
			<br><br>

			Agent Program:
			<label class="cursor-pointer">
				<button class="btn btn-primary glyphicon glyphicon-pencil btn-sm" ng-click="sc.selectAgentProgram()"></button>
				<span ng-if="sc.agent_prog" class="text-blue"> {{sc.agent_prog.name|stringLimit:20}}</span>
				<span ng-if="!sc.agent_prog" class="text-red"> (empty)</span>
			</label>
		</div>
		<div class="col-md-10">
			<h2>Trials<small class="pull-right" ng-if="totalPages-1">{{sc.page+'/'+totalPages}}</small></h2>
			<!--Body content-->
			<div class="list-group mouse-cursor" style="min-height: 300px">
				<a class="list-group-item step animate-filter transition-400" ng-repeat="tr in sc.trials | orderBy:sc.orderCond track by $index" ng-click="sc.setSelected(tr.date)" ng-dblclick="" ng-class="{active:sc.isSelected(tr.date)}" ng-if="(sc.page-1)*sc.itemsPerPage <= $index&&$index < sc.page*sc.itemsPerPage">

				<h4 class="list-group-item-heading">
					<span class="badge active">{{tr.date | date:'dd/MM/yyyy - HH:mm:ss'}}</span>
					<b>Task env.:</b> {{tr.task_env_name | stringLimit:22}}
					<span ng-if="tr.agent_progs_num > 1"><b>Agent progs.:</b> {{tr.agent_progs | stringLimit:22}}</span>
					<span ng-if="tr.agent_progs_num == 1"><b>Agent prog.:</b> {{tr.agent_progs | stringLimit:22}}</span>
				</h4>

				<span ng-show="sc.isSelected(tr.date)" class="pull-right animate-only-show">
					<button class="btn btn-info glyphicon glyphicon-list" style="top:-27px; margin-right:10px" ng-click="sc.open()" tooltip="View details"></button>
					<button class="btn btn-danger glyphicon glyphicon-remove" style="top:-27px" ng-click="sc.remove()" tooltip="Delete"></button>
				</span>

				</a>
			</div>
			<div class="text-center animate-show" ng-show="sc.trials.length > sc.itemsPerPage">
				<pagination total-items="sc.trials.length" ng-model="sc.page" max-size="5" class="pagination" boundary-links="true" items-per-page="sc.itemsPerPage"  num-pages="totalPages" ng-change="twc.gotoTop()"></pagination>
			</div>
			<div class="separator"></div>
		</div>
	</div>
</div>